{% extends 'base_with_navbar.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} {% block body %}
<div class="container" id="relation">
  <div class="content">
    <div class="title-block">
      <p class="remove-margin">ปรับปรุงรายการคนสนิท</p>
    </div>
    <div class="columns margin-top">
      <div class="column is-3-5 is-mobile-full">
        {% if request.user.is_staff %}
        <div class="card medium-padding">
          <div class="inline-field">
            <p class="remove-margin">
              ชื่อคนให้ข้อมูล
            </p>
            <button
              class="field-button"
              @click="activePeopleSearchingFor(reporter)"
            >
              ${ reporter.id ? reporter.name:
              "คลิกเพื่อเลือกผู้ให้ข้อมูลจากเมนูด้านขวา" }
            </button>
          </div>
        </div>
        {% endif %}

        <div class="card medium-padding">
          <p class="card-subtitle remove-margin">
            เพิ่มรายชื่อคนใกล้ชิดและเพื่อน
          </p>
          <div class="inline-field margin-top">
            <p class="remove-margin">
              ชื่อคนใกล้ชิด
            </p>
            <button
              class="field-button"
              @click="activePeopleSearchingFor(friend)"
            >
              ${ friend.id ? friend.name:
              "คลิกเพื่อเลือกผู้ใกล้ชิดจากเมนูด้านขวา" }
            </button>
          </div>
          <div class="inline-field">
            <p class="remove-margin">
              ระดับความสัมพันธ์
            </p>
            <select class="inline-select" v-model="relationLevel">
              <option selected disabled value=""
                >กรุณาเลือกระดับความสัมพันธ์</option
              >
              {% for level, text in relation_level %}
              <option value="{{ level }}">{{ text }}</option>
              {% endfor %}
            </select>
          </div>
          <button
            class="button is-fullwidth margin-top is-primary"
            @click="submitRelation()"
            :disabled="!isSubmitButtonActive"
          >
            เพิ่มรายการคนใกล้ชิด
          </button>
        </div>

        <div class="history margin-top" v-if="relationHistory.length">
          <div class="title-block">
            <p class="remove-margin">
              รายการคนสนิทล่าสุดของ ${ reporter.name }
            </p>
          </div>
          <div
            class="card history-card"
            v-for="relation in relationHistory"
            :key="relation.id"
          >
            <div class="inline-field">
              <p class="helper remove-margin">ชื่อคนใกล้ชิด</p>
              <p class="remove-margin friend">
                ${ relation.other_person } ( ${ relation.level } )
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="column is-2-5 is-mobile-full mobile-modal"
        @click="closePeopleSearchingModal"
        :class="{ 'is-modal-active': isPeopleSearchingActive }"
      >
        <div class="card remove-min-width medium-padding" @click.stop>
          <label for="people_searching" class="label"
            >ค้นหาบุคคล (กรุณาเลือกฟิลด์ที่ต้องการใส่ข้อมูลก่อน)</label
          >
          <input
            type="text"
            class="inline-input is-fullwidth"
            ref="peopleSearching"
            id="people_searching"
            name="people_searching"
            placeholder="ค้นหาบุคคล"
            v-model="searchingText"
            :disabled="!isPeopleSearchingActive"
          />
          <div
            class="suggestions margin-top"
            v-if="isSuggestionDelay"
          >
            <p class="helper remove-margin">กำลังค้นหา</p>
          </div>
          <div
            class="suggestions margin-top"
            v-if="!isSuggestionDelay"
          >
            <div v-if="!suggestions.length">
              <p class="remove-margin">ไม่พบบุคคลที่ใกล้เคียง</p>
            </div>
            <div
              v-else
              class="suggestion margin-top"
              v-for="suggestion in suggestions"
              :key="suggestion.id"
              @click="selectSuggestion(suggestion)"
            >
              <h4 class="suggestion-title">${ suggestion.full_name }</h4>
              <span class="phone-no">
                ${ suggestion.phone_no }
                <a
                  @click.stop
                  :href="`/account/profile/${ suggestion.id }`"
                  target="_blank"
                  >ข้อมูลเพิ่มเติม</a
                >
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  axios.defaults.xsrfCookieName = "csrftoken";
  axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
  axios.defaults.headers.common["Content-Type"] = "application/json";
  axios.defaults.headers.common["HTTP_X-CSRFToken"] = "{{ csrf_token }}";

  Vue.config.productionTip = false;

  const app = new Vue({
    el: "#relation",
    delimiters: ["${", "}"],
    data() {
      return {
        reporter: {
          id: null,
          name: null
        },
        friend: {
          id: null,
          name: null
        },
        relationLevel: "",
        peopleSearchingTarget: null,
        isPeopleSearchingActive: false,
        suggestions: [],
        relationHistory: [],
        searchingText: "",
        isSuggestionDelay: false
      };
    },
    created() {
      this.initReporter();

      if (!this.isStaff && !this.isMobile) {
        this.activePeopleSearchingFor(this.friend);
      }
    },
    computed: {
      isSubmitButtonActive() {
        return this.reporter.id && this.friend.id && this.relationLevel;
      },
      isStaff() {
        return "{{ request.user.is_staff }}" == "True";
      },
      isMobile() {
        const toMatch = [
          /Android/i,
          /webOS/i,
          /iPhone/i,
          /iPad/i,
          /iPod/i,
          /BlackBerry/i,
          /Windows Phone/i
        ];

        return toMatch.some(toMatchItem => {
          return navigator.userAgent.match(toMatchItem);
        });
      }
    },
    methods: {
      initReporter() {
        if (this.isStaff) {
          this.reporter.name = localStorage.getItem("reportName");
          this.reporter.id = localStorage.getItem("reportID");
        } else {
          this.reporter.name = "{{ request.user.profile.full_name }}";
          this.reporter.id = "{{ request.user.pk }}";
        }
      },
      async activePeopleSearchingFor(target) {
        this.peopleSearchingTarget = target;
        this.isPeopleSearchingActive = true;
        this.clearSuggestions();
        const peopleSearching = await document.querySelector(
          "#people_searching"
        );
        peopleSearching.focus();
        this.renderSuggestionFor("");
      },
      async searchPeople(keyword) {
        const response = await axios.post("/api/v1/users/relation/search/", {
          keyword,
          reporter_id:
            this.reporter.id == this.peopleSearchingTarget.id
              ? null
              : this.reporter.id
        });

        return response;
      },
      async renderSuggestionFor(keyword) {
        const response = await this.searchPeople(keyword);
        const { data } = response;
        this.suggestions = data;
      },
      selectSuggestion({ id, full_name }) {
        this.peopleSearchingTarget.id = id;
        this.peopleSearchingTarget.name = full_name;
        this.clearSuggestions();
        this.closePeopleSearchingModal();
      },
      clearSuggestions() {
        this.suggestions = [];
        this.searchingText = "";
      },
      async getRelationHistory() {
        const response = await axios.get(
          `/api/v1/users/${this.reporter.id}/relationships/`
        );

        return response;
      },
      storeReporterInLocalStorage() {
        localStorage.setItem("reportName", this.reporter.name);
        localStorage.setItem("reportID", this.reporter.id);
      },
      async createRelation() {
        const response = await axios.post("", {
          reporter_id: this.reporter.id,
          friend_id: this.friend.id,
          level: this.relationLevel
        });

        return response;
      },
      resetRelation() {
        this.friend = {
          id: null,
          name: null
        };
        this.relationLevel = "";
      },
      async submitRelation() {
        const response = await this.createRelation();
        const { data } = response;
        this.relationHistory.unshift(data);
        this.resetRelation();
      },
      closePeopleSearchingModal() {
        this.isPeopleSearchingActive = false;
      }
    },
    watch: {
      async searchingText(value) {
        if (value) {
          this.isSuggestionDelay = true;
          setTimeout(() => (this.isSuggestionDelay = false), 150);
          this.renderSuggestionFor(value);
        }
      },
      async "reporter.id"(value) {
        if (value) {
          const response = await this.getRelationHistory();
          const { data } = response;
          this.relationHistory = data;
          this.storeReporterInLocalStorage();
        }
      }
    }
  });
</script>
{% endblock %}
