{% extends 'base_with_navbar.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} {% block body %}
<div class="container">
  <div class="content">
    <div class="title-block">
      <p class="remove-margin">ปรับปรุงรายการคนสนิท</p>
    </div>
    <div class="columns">
      <div class="column is-3">
        <div class="card medium-padding">
          <div class="inline-field">
            <p class="remove-margin">
              ชื่อคนให้ข้อมูล
            </p>
            <button
              class="field-button"
              id="reporter"
              onclick="setTargetElement(event); activePeopleSearching();"
            >
              คลิกเพื่อเลือกผู้ให้ข้อมูลจากเมนูด้านขวา
            </button>
          </div>
        </div>

        <div class="card medium-padding">
          <p class="card-subtitle remove-margin">
            เพิ่มรายชื่อคนใกล้ชิดและเพื่อน
          </p>
          <div class="inline-field margin-top">
            <p class="remove-margin">
              ชื่อคนใกล้ชิด
            </p>
            <button
              class="field-button"
              id="friend"
              onclick="setTargetElement(event); activePeopleSearching();"
            >
              เลือกผู้ใกล้ชิดจากเมนูด้านขวา
            </button>
          </div>
          <div class="inline-field">
            <p class="remove-margin">
              ระดับความสัมพันธ์
            </p>
            <select
              class="inline-select"
              id="relation-level"
              onchange="enableSubmitButtonIfDataComplete()"
            >
              <option selected disabled value=""
                >กรุณาเลือกระดับความสัมพันธ์</option
              >
              {% for level, text in relation_level %}
              <option value="{{ level }}">{{ text }}</option>
              {% endfor %}
            </select>
          </div>
          <button
            class="button is-fullwidth margin-top is-primary"
            id="submit-button"
            onclick="submitRelation()"
            disabled
          >
            เพิ่มรายการคนใกล้ชิด
          </button>
        </div>

        <div class="history margin-top"></div>
      </div>
      <div class="column is-2">
        <div class="card remove-min-width medium-padding">
          <label for="people_searching" class="label"
            >ค้นหาบุคคล (กรุณาเลือกฟิลด์ที่ต้องการใส่ข้อมูลก่อน)</label
          >
          <input
            type="text"
            class="inline-input is-fullwidth"
            id="people_searching"
            name="people_searching"
            placeholder="ค้นหาบุคคล"
            onkeyup="searching(event)"
            disabled
          />
          <div class="suggestions"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script>
  axios.defaults.xsrfCookieName = "csrftoken";
  axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
  axios.defaults.headers.common["Content-Type"] = "application/json";
  axios.defaults.headers.common["HTTP_X-CSRFToken"] = "{{ csrf_token }}";

  let targetElement = null;

  const setTargetElement = event => {
    targetElement = event.toElement;
  };

  const activePeopleSearching = () => {
    const peopleSearching = document.querySelector("#people_searching");
    peopleSearching.disabled = false;
    peopleSearching.focus();
  };

  const resetPeopleSearching = () => {
    const peopleSearching = document.querySelector("#people_searching");
    peopleSearching.disabled = true;
    peopleSearching.value = "";
  };

  const createSearchingRequest = async keyword => {
    const response = await axios.post("/account/search/", {
      keyword,
      reporter_id: reporter.dataset.id
    });

    return response;
  };

  const searching = async event => {
    const { value } = event.target;
    if (value.length >= 3) {
      clearElement("suggestions");
      setSearchingText("กำลังค้นหา");

      const response = await createSearchingRequest(value);
      const { data } = response;

      setTimeout(() => {
        clearElement("suggestions");
        if (data.length) {
          renderSuggestions(data);
        } else {
          setSearchingText("ไม่พบข้อมูล");
        }
      }, 300);
    }
  };

  const createSuggestionElement = suggestion => {
    const title = document.createElement("h4");
    title.classList.add("suggestion-title");
    title.innerHTML = suggestion.full_name;

    const phoneNo = document.createElement("span");
    phoneNo.classList.add("phone-no");
    phoneNo.innerHTML = suggestion.phone_no;

    const suggestionElement = document.createElement("div");
    suggestionElement.classList.add("suggestion");
    suggestionElement.dataset.id = suggestion.id;
    suggestionElement.onclick = event => selectSuggestion(event);
    suggestionElement.appendChild(title);
    suggestionElement.appendChild(phoneNo);

    return suggestionElement;
  };

  const renderSuggestions = suggestions => {
    const suggestionsElement = document.querySelector(".suggestions");

    for (let suggestion of suggestions) {
      const suggestionElement = createSuggestionElement(suggestion);
      suggestionsElement.appendChild(suggestionElement);
    }
  };

  const clearElement = elementClass => {
    const element = document.querySelector(`.${elementClass}`);
    while (element.firstChild) {
      element.removeChild(element.lastChild);
    }
  };

  const setSearchingText = message => {
    const suggestionsElement = document.querySelector(".suggestions");
    const searchingText = document.createElement("span");
    searchingText.classList.add("helper");
    searchingText.innerHTML = message;

    suggestionsElement.appendChild(searchingText);
  };

  const selectSuggestion = event => {
    const { parentElement } = event.toElement;
    targetElement.innerHTML = parentElement.firstChild.innerHTML;
    targetElement.dataset.id = parentElement.dataset.id;

    clearElement("suggestions");
    resetPeopleSearching();
    enableSubmitButtonIfDataComplete();

    if (targetElement.id == "reporter") {
      setHistory();
    }
  };

  const enableSubmitButtonIfDataComplete = () => {
    const reporter = document.querySelector("#reporter");
    const friend = document.querySelector("#friend");
    const level = document.querySelector("#relation-level");
    const submitButton = document.querySelector("#submit-button");

    submitButton.disabled = !(
      reporter.dataset.id &&
      friend.dataset.id &&
      level.value
    );
  };

  const submitRelation = async () => {
    const reporter = document.querySelector("#reporter");
    const friend = document.querySelector("#friend");
    const level = document.querySelector("#relation-level");

    const response = await axios.post("", {
      reporter_id: reporter.dataset.id,
      friend_id: friend.dataset.id,
      level: level.value
    });

    localStorage.setItem("report_name", reporter.innerHTML);
    localStorage.setItem("report_id", reporter.dataset.id);
    location.reload();
  };

  const createTitleBlock = text => {
    const title = document.createElement("p");
    title.innerHTML = text;

    const titleBlock = document.createElement("div");
    titleBlock.classList.add("title-block");
    titleBlock.appendChild(title);

    return titleBlock;
  };

  const getRelationHistory = async userID => {
    const response = await axios.get(`history/${userID}/`);

    return response.data;
  };

  const createRelationHistoryElement = relation => {
    const helper = document.createElement("p");
    helper.classList.add("remove-margin", "helper");
    helper.innerHTML = "ชื่อคนใกล้ชิด";
    const friend = document.createElement("p");
    friend.classList.add("remove-margin", "friend");
    friend.innerHTML = `${relation.other_person} ในฐานะ ${relation.level}`;

    const inline = document.createElement("div");
    inline.classList.add("inline-field");
    inline.appendChild(helper);
    inline.appendChild(friend);

    const relationHistoryElement = document.createElement("div");
    relationHistoryElement.classList.add("card", "small-padding");
    relationHistoryElement.appendChild(inline);

    return relationHistoryElement;
  };

  const setHistory = async () => {
    clearElement("history");
    const titleBlock = createTitleBlock(
      `รายการคนสนิทล่าสุดของ ${targetElement.innerHTML}`
    );
    const relationHistory = await getRelationHistory(targetElement.dataset.id);

    const historyElement = document.querySelector(".history");
    historyElement.appendChild(titleBlock);

    for (let relation of relationHistory) {
      const relationHistoryElement = createRelationHistoryElement(relation);
      historyElement.appendChild(relationHistoryElement);
    }
  };

  (() => {
    const reportName = localStorage.getItem("report_name");
    const reportID = localStorage.getItem("report_id");

    if (reportName && reportID) {
      targetElement = document.querySelector("#reporter");
      targetElement.innerHTML = reportName;
      targetElement.dataset.id = reportID;
      setHistory();
    }
  })();
</script>
{% endblock %}
