{% load static %}
<html>
  <head>
    <title>TU Covid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'Thammasat_main_logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile.css' %}">
    {% block extra_css %}
    {% endblock extra_css %}
  </head>
  <body>
    {% block body %}
    {% endblock body %}
  </body>
</html>
