{% load static %}
<html>
  <head>
    <title>TU Covid</title>
    <link rel="shortcut icon" href="{% static 'Thammasat_main_logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    {% block extra_css %}
    {% endblock extra_css %}
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-logo">
        <a href="{% url 'relation:index' %}">
          <img src="{% static 'Thammasat_main_logo.png' %}" class="logo" alt="TU Covid logo">
        </a>
      </div>
      <div class="menu-start">
        {% if request.user.profile %}
          <a href="{% url 'relation:relation_page' %}" class="menu-item">เพิ่มรายการคนสนิท</a>
          <a href="{% url 'relation:event_page' %}" class="menu-item">เพิ่มกิจกรรมที่เข้าร่วม</a>
        {% endif %}
      </div>
      <div class="menu-end">
        {% if request.user.profile %}
          <a href="{% url 'account:profile_page' %}" class="menu-item">ข้อมูลส่วนตัว</a>
        {% endif %}

        <a href="{% url 'account:logout' %}" class="menu-item">ออกจากระบบ</a>
      </div>
    </div>
    {% block body %}
    {% endblock body %}
  </body>
  {% block extra_js %}
  {% endblock extra_js %}
</html>
