@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');

*:not(i) {
  font-family: 'Kanit', 'san-serif';
}

body {
  margin: 0;
  background-color: #fafafa;
}

.centered-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.card {
  background: #ffffff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  border-radius: 8px;
  padding: 40px;
  min-width: 480px;
}

.is-center {
  text-align: center;
}

.card-title {
  font-size: 24px;
  font-weight: normal;
  margin: 12px;
}

.card-subtitle {
  font-size: 16px;
  margin: 12px;
}

.card-helper {
  font-size: 12px;

}

.button {
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  font-weight: normal;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration: none;
}

.is-fullwidth {
  width: 100%;
  margin-bottom: 12px;
}