.is-primary {
  background-color: #c3002f;
  color: #fafafa;
}

.is-primary:disabled,
.is-primary:hover:disabled {
  color: #707070;
  background: #ffffff;
  cursor: default;
}

.is-primary:hover {
  color: #e7e7e7;
  background-color: #d3103f;
}

.is-cancel {
  color: #707070;
  background: #ffffff;
}

.tu-button:before {
  content: "";
  display: block;
  margin-top: 2px;
  background-image: url("../Thammasat_main_logo.png");
  background-size: 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
  float: left;
}